# Internal implementation guides (not for version control)
step_by_step.md

# Python
__pycache__/
*.py[cod]
.venv/
.uv/
.python-version

# dbt
target/
dbt_packages/
logs/

src/data/

# ZenML
.zen/

# Great Expectations
gx/uncommitted/

# Airflow
airflow/
airflow.db
airflow-webserver.pid

# Terraform
.terraform/
*.tfplan
*.tfstate
*.tfstate.backup

# Local data (generated fake data)
data/raw/
data/processed/

# Environment & Credentials
.env
*.env.local
*_adc.json
application_default_credentials.json

# IDE
.idea/
.vscode/
*.DS_Store
.history/
